src/main/mule/sw-restaurants-sapi-raml.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <http:listener-config name="sw-restaurants-sapi-raml-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <apikit:config name="sw-restaurants-sapi-raml-config" api="resource::dbf43717-03d0-4c7c-b36b-37ff146429d7:sw-restaurants-sapi-raml:1.0.0:raml:zip:sw-restaurants-sapi-raml.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="sw-restaurants-sapi-raml-main">
        <http:listener config-ref="sw-restaurants-sapi-raml-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="sw-restaurants-sapi-raml-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="sw-restaurants-sapi-raml-console">
        <http:listener config-ref="sw-restaurants-sapi-raml-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="sw-restaurants-sapi-raml-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="put:\restaurants\(restaurantId)\menus\(menuId)\menuItems\(menuItemId)\inventory:application\json:sw-restaurants-sapi-raml-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="restaurantId">attributes.uriParams.'restaurantId'</ee:set-variable>
                <ee:set-variable variableName="menuId">attributes.uriParams.'menuId'</ee:set-variable>
                <ee:set-variable variableName="menuItemId">attributes.uriParams.'menuItemId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  status: "200",
  message: "Inventory with id {id} is updated"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="put:\restaurants\(restaurantId)\menus\(menuId)\menuItems\(menuItemId):application\json:sw-restaurants-sapi-raml-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="restaurantId">attributes.uriParams.'restaurantId'</ee:set-variable>
                <ee:set-variable variableName="menuId">attributes.uriParams.'menuId'</ee:set-variable>
                <ee:set-variable variableName="menuItemId">attributes.uriParams.'menuItemId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  status: "200",
  message: "MenuItem with id {id} is updated"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="put:\restaurants\(restaurantId):application\json:sw-restaurants-sapi-raml-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="restaurantId">attributes.uriParams.'restaurantId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  status: "200",
  message: "Restaurant with id {id} is updated"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="delete:\restaurants\(restaurantId)\menus\(menuId)\menuItems\(menuItemId):sw-restaurants-sapi-raml-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="restaurantId">attributes.uriParams.'restaurantId'</ee:set-variable>
                <ee:set-variable variableName="menuId">attributes.uriParams.'menuId'</ee:set-variable>
                <ee:set-variable variableName="menuItemId">attributes.uriParams.'menuItemId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  status: "200",
  message: "MenuItem with id {id} is Deleted"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="delete:\restaurants\(restaurantId):sw-restaurants-sapi-raml-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="restaurantId">attributes.uriParams.'restaurantId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  status: "200",
  message: "Restaurant with id {id} is Deleted"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\restaurants\(restaurantId)\menus\(menuId)\menuItems\(menuItemId)\inventory:sw-restaurants-sapi-raml-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="restaurantId">attributes.uriParams.'restaurantId'</ee:set-variable>
                <ee:set-variable variableName="menuId">attributes.uriParams.'menuId'</ee:set-variable>
                <ee:set-variable variableName="menuItemId">attributes.uriParams.'menuItemId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  menuItemId: 101,
  quantity: 200,
  discountPercentage: 10,
  links: [
    {
      linkName: "menuItem",
      href: "http://localhost:8081/restaurants/1/menus/1/menuItems/101"
    }
  ]
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\restaurants\(restaurantId)\menus\(menuId)\menuItems:sw-restaurants-sapi-raml-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="restaurantId">attributes.uriParams.'restaurantId'</ee:set-variable>
                <ee:set-variable variableName="menuId">attributes.uriParams.'menuId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  status: "404",
  message: "Restaurant/Menu With id {id} is NOT Found"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\restaurants\(restaurantId)\menus:sw-restaurants-sapi-raml-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="restaurantId">attributes.uriParams.'restaurantId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  status: "404",
  message: "Restaurant with id {id} is NOT Found"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\restaurants:sw-restaurants-sapi-raml-config">
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  status: "500",
  message: "There was some server side problem. Please try later"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\restaurants\(restaurantId)\menus\(menuId):sw-restaurants-sapi-raml-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="restaurantId">attributes.uriParams.'restaurantId'</ee:set-variable>
                <ee:set-variable variableName="menuId">attributes.uriParams.'menuId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  menuId: 101,
  name: "BreakFastMenu",
  restaurantId: 1,
  links: [
    {
      linkName: "menuItems",
      href: "http://localhost:8081/restaurants/1/menus/101/menuItems"
    }, 
    {
      linkName: "restaurant",
      href: "http://localhost:8081/restaurants/1/"
    }
  ]
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\restaurants\(restaurantId)\menus\(menuId)\menuItems\(menuItemId):sw-restaurants-sapi-raml-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="restaurantId">attributes.uriParams.'restaurantId'</ee:set-variable>
                <ee:set-variable variableName="menuId">attributes.uriParams.'menuId'</ee:set-variable>
                <ee:set-variable variableName="menuItemId">attributes.uriParams.'menuItemId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  menuItemId: 101,
  itemName: "Chicken Biriyani",
  description: "Yummy Hyderabadi Biriyani",
  price: 500,
  menuId: 1,
  links: [
    {
      linkName: "menu",
      href: "http://localhost:8081/restaurants/1/menus/1"
    }, 
    {
      linkName: "menuItemInventory",
      href: "http://localhost:8081/restaurants/1/menus/1/menuItems/101/inventory"
    }
  ]
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\restaurants\(restaurantId):sw-restaurants-sapi-raml-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="restaurantId">attributes.uriParams.'restaurantId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  restaurantId: 1,
  name: "Udupi Garden",
  address: {
    houseNumber: "202",
    street: "Some Street",
    city: "Bangalore",
    pincode: "560066"
  },
  links: [
    {
      linkName: "menus",
      href: "http://localhost:8081/restaurants/1/menus"
    }
  ]
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\restaurants\(restaurantId)\menus\(menuId)\menuItems:application\json:sw-restaurants-sapi-raml-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="restaurantId">attributes.uriParams.'restaurantId'</ee:set-variable>
                <ee:set-variable variableName="menuId">attributes.uriParams.'menuId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  menuItemId: 101,
  itemName: "Chicken Biriyani",
  description: "Yummy Hyderabadi Biriyani",
  price: 500,
  menuId: 1,
  links: [
    {
      linkName: "menu",
      href: "http://localhost:8081/restaurants/1/menus/1"
    }, 
    {
      linkName: "menuItemInventory",
      href: "http://localhost:8081/restaurants/1/menus/1/menuItems/101/inventory"
    }
  ]
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\restaurants\(restaurantId)\menus:application\json:sw-restaurants-sapi-raml-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="restaurantId">attributes.uriParams.'restaurantId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  menuId: 101,
  name: "BreakFastMenu",
  restaurantId: 1,
  links: [
    {
      linkName: "menuItems",
      href: "http://localhost:8081/restaurants/1/menus/101/menuItems"
    }, 
    {
      linkName: "restaurant",
      href: "http://localhost:8081/restaurants/1/"
    }
  ]
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\restaurants:application\json:sw-restaurants-sapi-raml-config">
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  restaurantId: 1,
  name: "Udupi Garden",
  address: {
    houseNumber: "202",
    street: "Some Street",
    city: "Bangalore",
    pincode: "560066"
  },
  links: [
    {
      linkName: "menus",
      href: "http://localhost:8081/restaurants/1/menus"
    }
  ]
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
</mule>
